services:
  web:
    container_name: misekore-web
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev

